body{
	background-image:linear-gradient(#000, #2b2378);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	margin-bottom:10%;
}

h1{
	text-align:center;
	font-size:80px;
	font-family:algerian;
	color:#fff;
	margin-top:90px;
}

#imagem{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:70px;
	border:5px solid #000;
}

#imagem:hover{
	width:650px;
	height:450px;
	transition:0.5s;
}

p{
	text-align:center;
	margin-top:70px;
	font-size:25px;
	font-family:arial black;
	color:#fff;
}